*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.clearfix:after{
  content: ' ';
  display: block;
  width: 100%;
  clear: both;
}

#wrapper{
  width: 1000px;
  background-color: yellow;
  margin: 0px auto;
}


#header{
  /* padding: 1px 50px; */
  border-bottom: 0px dashed black;
  background-color: yellow;
  /* float: left; */
}


#header div{
  width: 100px;
  border: 1px solid red;
  float: left;
}

.leftContent{
  width: 750px;
  float: left;
  background: orange;
}

#slideR{
    border: 1px solid black;
    height: 500px;
    width: 250px;
    float: left;

}

#slideL{
  border: 1px solid black;
  height: 500px;
  width: 730px;
  float: left;
}
.rightContent{
  width: 250px;
  float: right;
  background-color: pink;
}

#ngheGi div, #moiPhatHanh div, #karaeoke div{
  height: 140px;
  width: 140px;
  float: left;
  background-color: black;
  margin: 2px;
  margin-bottom: 40px;

}

#mvHot2 div, .videoGT{
  height: 140px;
  width: 172px;
  float: left;
  background-color: black;
  margin: 2px;
  margin-bottom: 40px;
}




#topNgheSi{
  height:300px;
  background-color: red;
  height: 500px;
}

.for2{
  border: 1px solid black;
  width: 350px;
  height: 200px;
  float: left;
  background-color: red;
  margin-bottom: 20px;
}

.baihatform{
  width: 350px;
  border-top: 1px dashed black;
  height: 60px;
  float: left;
  margin-right: 25px;
}

#goiY{
  height: 200px;
  width: 250px;
  background-color: #00ff00;
  margin-bottom: 40px;
}

#leftList div{
  border: 1px solid red;
  background-color: black;
  height: 100px;
  width: 250px;
  margin-bottom: 20px;
}


#footer{
  float: left;
  width: 100px;
}











/* END LINE */
